{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<h2 class="page-title">{{ section.title }}</h2>
<div class="divider"></div>
<div class="blog-content">
  {{ section.content | safe }}
  
  <table class="info-table">
    <thead>
	<tr>
	  <th>Title</th>
	  <th>Date</th>
	</tr>
    </thead>
    {% for page in section.pages %}
    <tbody class="blog-post-preview">
      <tr>
        <td>
      	  <a href="{{ page.permalink }}">{{ page.title }}</a>
        </td>
	<td>
      	  <p class="post-date">{{ page.date | date(format="%Y-%M-$d") }}</p>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </div>
</div>
{% endblock content %}
