<header class="container">
    <div>
        <h2>Between (The) Zero And (The) One</h2>
    </div>

    <nav>
        <ul class="columns">
            <li class="column col-2 col-sm-4 col-md-4">
                <a href="{{ get_url(path='/') }}" class="nav-btn">Index</a>
            </li>
            <li class="column col-2 col-sm-4 col-md-4">
                <a href="{{ get_url(path='/about/') }}" class="nav-btn">About</a>
            </li>
            <li class="column col-2 col-sm-4 col-md-4">
                <a href="{{ get_url(path='resume.pdf') }}" class="nav-btn">Resume</a>
            </li>
        </ul>
    </nav>
</header>
