<!-- index.html -->
{% extends "base.html" %}

{% block title %}Between (The) Zero And (The) One{% endblock title %}

{% block content %}
<h2 class="page-title">A digital haunt in an analogue life</h2>
<div class="divider"></div>
<div class="content-section columns">
  <div class="column text-box">
    <p>Hi! I'm Griffin, a computer programmer based in San Francisco, CA.</p>
  </div>
  <div class="column image-box">
    <img src="{{ "images/GCP-00020095.jpg" | get_url }}" alt="Sample Image">
    <div class="image-caption">
      "Study of Eye Movements" - Deveraux H. Murphy, <a href="https://mitmuseum.mit.edu/collections/object/GCP-00020095">MIT History</a>
    </div>
  </div>
</div>
{% endblock content %}
