<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/spectre.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Between (The) Zero And (The) One" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml', trailing_slash=false) }}" />
    <title>{% block title %}{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% else %}Page Title{% endif %}{% endblock title %}</title>
</head>
<body class="page-centered">
    {% include "header.html" %}
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
